*{
    padding: 0; margin: 0; 
    border: none; outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.container{
    width: 90%;
    display: flex;
}


.container .slide{
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: azure;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms linear;
}

.container .slide h3{
    position: absolute;
    left: 20px;
    bottom: 10px;
    opacity: 10;
}

.container .slide.active{
    flex: 10;
}


.container .slide.slide.active h3{
    opacity: 1;
    transition: all 500ms linear;
}