@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400&display=swap');


:root{
    --yellow: #fcdd26;
    --white: #fff;
    --gray: #333;
    --light-gray: #666;
}

*{
    font-family: 'Poppins'sans-serif;
    padding: 0; margin: 0;
    border: none; outline: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--gray);
    color: var(--yellow);
}

html::-webkit-scrollbar{
    width: 1.3rem;
}

html::-webkit-scrollbar-track{
    background: var(--light-gray);
}

html::-webkit-scrollbar-thumb{
    background: var(--yellow);
    border-radius: 10rem;
}

section{
    padding: 1rem 5%;
}

.btn{
    display: inline-block;
    font-size: 1rem;
    background: var(--yellow);
    padding: .5rem 1.5rem;
    border-radius: 10rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.250);
    cursor: pointer;
}

.btn:hover{
    background: var(--gray);
    color: var(--yellow);
}

.heading{
    text-align: center;
    padding: 1rem;
    color: var(--gray);
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
    font-size: 2.5rem;
}

.heading i{
    color: var(--yellow);
    padding: 0 .5rem;
}

/*================= HEADER ==================*/

header{
    background: var(--white);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0; top: 0; right: 0;
    z-index: 1000;
}

header #menu{
    font-size: 2.5rem;
    color: var(--gray);
    cursor: pointer;
    display: none;
}

header .logo{
    font-size: 2.5rem;
    color: var(--yellow);
}
